body{
    background: url(../assets/backgroundseclog.png) no-repeat center center fixed; 
    width: 100%;
    height: 100%;
    background-size: cover;
    font-family: Arial, sans-serif;
}
h2{
    text-align: center;
    font-size: 2.0em;
    margin-top: 20px;
    margin-bottom: 40px;
}
form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    background: white;
    box-shadow:gray 5px 5px 15px;
    padding: 50px;
    border-radius: 10px;
    height: 350px;
    width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
label, #username, #password{
    display: block;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 10px;
    width: 250px;
    font-size: 18px;
}

input[type="email"], input[type="password"]{
    border: 2px solid lightgray;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
}

input:focus{
    border-color: orange;
    outline: none;
}

#remember{
    left: 30px;
    font-size: 17px;
}
#forgotpassword{
   outline: none;
   text-decoration: none;
   color: gray;
   right: 40px;
}
#btn{
    margin-top: 20px;
    background: rgb(50, 190, 0);
    color: white;           
    border: none;
    width: 35%;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    margin-bottom: 20px;
    transition:transform 0.1s, box-shadow 0.1s, background-image 0.1s;

}
#btn:hover{
    background-image: linear-gradient(to right, rgb(50, 190, 0), rgb(0, 150, 0));
}
#btn:active{
    transform: scale(1.05);
    background-image: linear-gradient(to right, rgb(50, 170, 0), rgb(0, 140, 0));
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
i {
    position: absolute;
    top: 59%;
    left: 69%;
    right: 0px; 
    transform: translateY(-50%);
    cursor: pointer; 
    padding-left: 10px;
    font-size: 20px;
}

a{
    color:gray
}

footer {
    background: white;
    padding: 15px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;

}

.logo {
    display: inline-block;
    height: 70px;
    background-size: contain;
}
